.app{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.container{
	display: flex;
	flex-direction: row;
}

.mainFeed{
	display: flex;
	flex-direction: column;
	width: 640px;
	margin: auto;
}

.contact{
	display: flex;
}